/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #00C88C;
  --first-color-alt: #00C88C;
  --title-color: #393939;
  --text-color: #ffffff;
  --text-color-light: #A6A6A6;
  --body-color: #00021c;
  --nav-color: #1C1D39;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}



body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

p{
  margin-bottom: 3rem;
  margin-top: 1rem;
}

h3{
  color:#069C54
}

table {
  border-spacing: 20px;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}



/*========== LAYOUT ==========*/
.bd-container{
  max-width: 100%;
  
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: var(--z-fixed);
  background-color: var(--nav-color);
}

/*========== NAV ==========*/
.nav{

  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
}


.nav__item1{
  margin-bottom: var(--mb-1);
  margin-right: 2rem;
}


.nav__item2{
  margin-bottom: var(--mb-1);
  margin-right: 12rem;
}

.nav__link, .nav__logo, .nav__toggle{
  color: white;
  
}

.nav__logo{
  font-size: 2rem;
  font-weight: bold;
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
  font-size: 0.8rem;
  font-weight: bold;
}

.nav__link:hover{
  color: black;
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}


/*========== HOME ==========*/
.home__container{
  max-width: 100%;
  height: calc(100vh - var(--header-height));
  align-content: center;
  margin-left: var(--mb-4);
}



.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  margin-left: var(--mb-4);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: white;
  margin-bottom: var(--mb-4);
}

.home__data{
  margin-left: var(--mb-6);
}

.info{
  margin-top: var(--mb-2);
  border-radius: 0.5rem;
  background-color: #1C1D39;
}

.progress{
  margin-top:var(--mb-1);
  margin-right: var(--mb-2);
  margin-left: var(--mb-2);
  margin-bottom: var(--mb-1);
  border-radius: 0.9rem;
  background-color: #464647;
}

.progress-bar{
  background-color: var(--first-color);
  border-radius: .9rem 0 0 0.9rem;
  text-align: center;
  color:#FFF;
}

.input{
  margin-top: var(--mb-1);
  margin-left: var(--mb-3);
  margin-bottom: var(--mb-1);
  width:80%;
  background-color: #c0bebe;
  
  border: none;
}

.input__button{
  margin:0;
  background-color: #FFF;
  
  border: none;
  padding: 0.5 1 1 0.5;
}






/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--nav-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.nav__button{
  display: inline-block;
  background-color: var(--first-color);
  color:#FFF;
  padding: .05rem 3rem;
  border-radius: .5rem;
  transition: .3s;

}

.box__button1{
  display: inline-block;
  background-color: white;
  margin-left:var(--mb-3);
  width: 42%;
  border-radius: .5rem;
  transition: .3s;
  margin-top: var(--mb-3);
  text-align: center;
}

.box__button2{
  display: inline-block;
  background-color: white;
  margin-left:var(--mb-3);
  width: 41%;
  border-radius: .5rem;
  transition: .3s;
  margin-top: var(--mb-3);
  text-align: center;
}

.box__button3{
  display: inline-block;
  background-color: red;
  font-weight: bold;
  color: white;
  margin-left:var(--mb-3);
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  width:90%;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3);
}



/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

}

@media screen and (min-width: 768px){
  body{
    margin: 0;
    height:max-content
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    justify-items: center;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }


  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}


